@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html{
   background: url("../images/stars.jpg");
 }

#imageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    border: 2px solid black;
    background-color: #2e3192;
}

#imageDiv h3 {
    font-size: 25px;
    margin: 0;
    color: white;
}

#nasaImages {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 80vh;
    overflow-y: scroll;
    border-top: 2px solid black;
    background-color: lightgrey;
}

 #nasaImages img {
    display: flex;
    flex: 2 2 auto;
    max-width: 28vw;
    max-height: 30vh;
    margin: 1vh;
    border: 1px solid black;
 }

 #mainContainer {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    background-image: url("../images/stars.jpg");
 }

 #wikiSearch {
    font-size: 1.5rem;
    border: 2px solid black;
    background-color: lightgrey;
    padding: 10px;
    height: 81vh;
    width: 67vw;
    overflow-y: scroll;
 }

 #wikiDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: #2e3192;
 }

 #wikiDiv h3 {
    font-size: 25px;
    margin: 0;
    color: white;
 }

#searchAgain {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchInput {
    width: 20vw;
}

.formBtn {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}



.historyBtn {
    margin-left: .5vw;
    margin-right: .5vw;
    margin-top: 1vh;
}

 .title {
   text-align: center;
   font-family: 'Varela Round', sans-serif;
 }

#searchContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-left: 10vw;
   padding-right: 10vw;
   margin-top: 30vh;
   background-color: rgba(211, 211, 211, 0.6);
   margin-left: 10vw;
   margin-right: 10vw;
   border: 3px solid rgb(52, 10, 52);
   border-radius: 15px;
   padding-top: 1vh;
}

#searchForm{
   padding-left: 50px;
   padding-right: 50px;
}

 #searchBar {
   margin-top: 20px;
   text-align: center; 
   width: 30vw;
 }


 #subBtn{
   display: flex;
   align-self: center;
   margin-top: 1vh;
   margin-bottom: 2vh;
 }

 header {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background: url("../images/stars.jpg")
 }

#homeBtn {
    margin-left: 2vw;
    margin-right: 2vw;
}

/* made results page responsive */

@media screen and (max-width: 992px) { 
    #mainContainer {
        flex-direction: column;
    }
    #wikiSearch {
        width: 90vw;
        font-size: smaller;
    }
    #nasaImages {
        width: 90vw;
    }
    #nasaImages img {
        max-width: 90vw;
        max-height: 100vh;
    }
}